@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
  --temp-cold: #3b82f6; /* azul */
  --temp-cool: #22c55e; /* verde */
  --temp-warm: #facc15; /* amarillo */
  --temp-hot: #ef4444; /* rojo */
  --accent: #8b5cf6; /* morado (para resaltar búsquedas/recorridos) */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
